In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Automobile_insurance_fraud.csv')

In [3]:
data.shape

(1000, 40)

In [4]:
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: float64(2), int64(17), object(21)
memory usage: 312.6+ KB

In [6]:
data.drop('_c39',axis=1,inplace=True)

In [7]:
data.set_index('policy_number',inplace=True)

In [8]:
data.shape

(1000, 38)

In [9]:
data.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
342868,228,42,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
687698,134,29,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
227811,256,41,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
367455,228,44,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [10]:
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])

C:\Users\d2god\AppData\Local\Temp\ipykernel_1440\1941168426.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])

In [11]:
data['policy_bind_year'] = data['policy_bind_date'].dt.year

In [12]:
data.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2014-10-17,OH,250/500,1000,1406.91,0,466132,MALE,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014
342868,228,42,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,MALE,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006
687698,134,29,2000-06-09,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000
227811,256,41,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990
367455,228,44,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,2014

In [13]:
data.drop('policy_bind_date',axis=1,inplace=True)

In [14]:
data.shape

(1000, 38)

In [15]:
data['policy_state'].nunique()

3

In [16]:
data['policy_state'].value_counts()

OH    352
IL    338
IN    310
Name: policy_state, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()

In [19]:
data['policy_state'] = le.fit_transform(data['policy_state'])

In [20]:
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2,250/500,1000,1406.91,0,466132,MALE,MD,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014
342868,228,42,1,250/500,2000,1197.22,5000000,468176,MALE,MD,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006
687698,134,29,2,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000
227811,256,41,0,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990
367455,228,44,0,500/1000,1000,1583.91,6000000,610706,MALE,Associate,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,2014

In [21]:
data['policy_csl'].nunique()

3

In [22]:
data['policy_csl'] = le.fit_transform(data['policy_csl'])

In [23]:
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2,1,1000,1406.91,0,466132,MALE,MD,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014
342868,228,42,1,1,2000,1197.22,5000000,468176,MALE,MD,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006
687698,134,29,2,0,2000,1413.14,5000000,430632,FEMALE,PhD,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000
227811,256,41,0,1,2000,1415.74,6000000,608117,FEMALE,PhD,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990
367455,228,44,0,2,1000,1583.91,6000000,610706,MALE,Associate,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,2014

In [24]:
data['insured_sex'].nunique()

2

In [25]:
data['insured_sex'] = le.fit_transform(data['insured_sex'])

In [26]:
data['insured_education_level'].nunique()

7

In [27]:
data['insured_education_level'].value_counts()

JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: insured_education_level, dtype: int64

In [28]:
from sklearn.preprocessing import OrdinalEncoder

In [29]:
oe = OrdinalEncoder(categories=[['High School','College','JD','Associate','MD','Masters','PhD']])

In [30]:
data['insured_education_level'] = oe.fit_transform(data['insured_education_level'].values.reshape(-1,1))

In [31]:
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2,1,1000,1406.91,0,466132,1,4.0,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,2014
342868,228,42,1,1,2000,1197.22,5000000,468176,1,4.0,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,2006
687698,134,29,2,0,2000,1413.14,5000000,430632,0,6.0,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,2000
227811,256,41,0,1,2000,1415.74,6000000,608117,0,6.0,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990
367455,228,44,0,2,1000,1583.91,6000000,610706,1,3.0,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,2014

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 521585 to 556080
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int32
 9   insured_education_level      1000 non-null   float64
 10  insured_occupation           1000 non-null   object
 11  insured_hobbies              1000 non-null   object
 12  insured_relationship         1000 non-null   object
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_date                1000 non-null   object
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   object
 37  policy_bind_year             1000 non-null   int64
dtypes: float64(2), int32(3), int64(17), object(16)
memory usage: 293.0+ KB

In [33]:
data['insured_occupation'].nunique()

14

In [34]:
data['insured_occupation'].value_counts()

machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
other-service        71
priv-house-serv      71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: insured_occupation, dtype: int64

In [35]:
data['insured_occupation'] = le.fit_transform(data['insured_occupation'])

In [36]:
data['insured_hobbies'].nunique()

20

In [37]:
data['insured_hobbies'] = le.fit_transform(data['insured_hobbies'])

In [38]:
data['insured_relationship'].nunique()

6

In [39]:
data['insured_relationship'].value_counts()

own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: insured_relationship, dtype: int64

In [40]:
data['insured_relationship'] = le.fit_transform(data['insured_relationship'])

In [41]:
data['incident_date'] = pd.to_datetime(data['incident_date'])

C:\Users\d2god\AppData\Local\Temp\ipykernel_1440\1064374993.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['incident_date'] = pd.to_datetime(data['incident_date'])

In [42]:
data['incident_year'] = data['incident_date'].dt.year

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 521585 to 556080
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int32
 9   insured_education_level      1000 non-null   float64
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_date                1000 non-null   datetime64[ns]
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   object
 37  policy_bind_year             1000 non-null   int64
 38  incident_year                1000 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(6), int64(18), object(12)
memory usage: 289.1+ KB

In [44]:
data.drop('incident_date',axis=1,inplace=True)

In [45]:
data['incident_type'].nunique()

4

In [46]:
data['incident_type'].value_counts()

Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: incident_type, dtype: int64

In [47]:
data['incident_type'] = le.fit_transform(data['incident_type'])

In [48]:
data['collision_type'].nunique()

4

In [49]:
data['collision_type'].value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64

In [50]:
data['collision_type'] = le.fit_transform(data['collision_type'])

In [51]:
data['incident_severity'].nunique()

4

In [52]:
data['incident_severity'].value_counts()

Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64

In [53]:
oe = OrdinalEncoder(categories=[['Minor Damage','Trivial Damage','Major Damage','Total Loss']])

In [54]:
data['incident_severity'] = oe.fit_transform(data['incident_severity'].values.reshape(-1,1))

In [55]:
data['authorities_contacted'].nunique()

5

In [56]:
data['authorities_contacted'].value_counts()

Police       292
Fire         223
Other        198
Ambulance    196
None          91
Name: authorities_contacted, dtype: int64

In [57]:
data['authorities_contacted'] = le.fit_transform(data['authorities_contacted'])

In [58]:
data['incident_state'].nunique()

7

In [59]:
data['incident_state'].value_counts()

NY    262
SC    248
WV    217
VA    110
NC    110
PA     30
OH     23
Name: incident_state, dtype: int64

In [60]:
data['incident_state'] = le.fit_transform(data['incident_state'])

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 521585 to 556080
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int32
 9   insured_education_level      1000 non-null   float64
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_type                1000 non-null   int32
 16  collision_type               1000 non-null   int32
 17  incident_severity            1000 non-null   float64
 18  authorities_contacted        1000 non-null   int32
 19  incident_state               1000 non-null   int32
 20  incident_city                1000 non-null   object
 21  incident_location            1000 non-null   object
 22  incident_hour_of_the_day     1000 non-null   int64
 23  number_of_vehicles_involved  1000 non-null   int64
 24  property_damage              1000 non-null   object
 25  bodily_injuries              1000 non-null   int64
 26  witnesses                    1000 non-null   int64
 27  police_report_available      1000 non-null   object
 28  total_claim_amount           1000 non-null   int64
 29  injury_claim                 1000 non-null   int64
 30  property_claim               1000 non-null   int64
 31  vehicle_claim                1000 non-null   int64
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   object
 36  policy_bind_year             1000 non-null   int64
 37  incident_year                1000 non-null   int64
dtypes: float64(3), int32(10), int64(18), object(7)
memory usage: 265.6+ KB

In [62]:
data['incident_city'].nunique()

7

In [63]:
data['incident_city'].value_counts()

Springfield    157
Arlington      152
Columbus       149
Northbend      145
Hillsdale      141
Riverwood      134
Northbrook     122
Name: incident_city, dtype: int64

In [64]:
data['incident_city'] = le.fit_transform(data['incident_city'])

In [65]:
data.drop('incident_location',axis=1,inplace=True)

In [66]:
data['property_damage'].nunique()

3

In [67]:
data['property_damage'].value_counts()

?      360
NO     338
YES    302
Name: property_damage, dtype: int64

In [68]:
data['property_damage'] = le.fit_transform(data['property_damage'])

In [69]:
data['police_report_available'].nunique()

3

In [70]:
data['police_report_available'].value_counts()

?      343
NO     343
YES    314
Name: police_report_available, dtype: int64

In [71]:
data['police_report_available'] = le.fit_transform(data['police_report_available'])

In [72]:
data['auto_make'].nunique()

14

In [73]:
data['auto_make'].value_counts()

Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: auto_make, dtype: int64

In [74]:
data['auto_make'] = le.fit_transform(data['auto_make'])

In [75]:
data['auto_model'].nunique()

39

In [76]:
data['auto_model'].value_counts()

RAM               43
Wrangler          42
A3                37
Neon              37
MDX               36
Jetta             35
Passat            33
A5                32
Legacy            32
Pathfinder        31
Malibu            30
92x               28
Camry             28
Forrestor         28
F150              27
95                27
E400              27
93                25
Grand Cherokee    25
Escape            24
Tahoe             24
Maxima            24
Ultima            23
X5                23
Highlander        22
Civic             22
Silverado         22
Fusion            21
ML350             20
Impreza           20
Corolla           20
TL                20
CRV               20
C300              18
3 Series          18
X6                16
M5                15
Accord            13
RSX               12
Name: auto_model, dtype: int64

In [77]:
data['auto_model'] = le.fit_transform(data['auto_model'])

In [78]:
data['fraud_reported'].nunique()

2

In [79]:
data['fraud_reported'].value_counts()

N    753
Y    247
Name: fraud_reported, dtype: int64

In [80]:
data['fraud_reported'] = le.fit_transform(data['fraud_reported'])

In [81]:
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year,incident_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2,1,1000,1406.91,0,466132,1,4.0,...,71610,6510,13020,52080,10,1,2004,1,2014,2015
342868,228,42,1,1,2000,1197.22,5000000,468176,1,4.0,...,5070,780,780,3510,8,12,2007,1,2006,2015
687698,134,29,2,0,2000,1413.14,5000000,430632,0,6.0,...,34650,7700,3850,23100,4,30,2007,0,2000,2015
227811,256,41,0,1,2000,1415.74,6000000,608117,0,6.0,...,63400,6340,6340,50720,3,34,2014,1,1990,2015
367455,228,44,0,2,1000,1583.91,6000000,610706,1,3.0,...,6500,1300,650,4550,0,31,2009,0,2014,2015

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 521585 to 556080
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int32
 9   insured_education_level      1000 non-null   float64
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_type                1000 non-null   int32
 16  collision_type               1000 non-null   int32
 17  incident_severity            1000 non-null   float64
 18  authorities_contacted        1000 non-null   int32
 19  incident_state               1000 non-null   int32
 20  incident_city                1000 non-null   int32
 21  incident_hour_of_the_day     1000 non-null   int64
 22  number_of_vehicles_involved  1000 non-null   int64
 23  property_damage              1000 non-null   int32
 24  bodily_injuries              1000 non-null   int64
 25  witnesses                    1000 non-null   int64
 26  police_report_available      1000 non-null   int32
 27  total_claim_amount           1000 non-null   int64
 28  injury_claim                 1000 non-null   int64
 29  property_claim               1000 non-null   int64
 30  vehicle_claim                1000 non-null   int64
 31  auto_make                    1000 non-null   int32
 32  auto_model                   1000 non-null   int32
 33  auto_year                    1000 non-null   int64
 34  fraud_reported               1000 non-null   int32
 35  policy_bind_year             1000 non-null   int64
 36  incident_year                1000 non-null   int64
dtypes: float64(3), int32(16), int64(18)
memory usage: 234.4 KB

In [83]:
data.drop('insured_zip',axis=1,inplace=True)

In [84]:
outlier_data = ['policy_annual_premium','total_claim_amount','injury_claim','property_claim','vehicle_claim']

In [85]:
from scipy.stats import zscore

In [86]:
z = zscore(data[outlier_data])

In [87]:
data = data[(z<3).all(axis=1)]

In [88]:
data.shape

(998, 36)

In [89]:
from sklearn.preprocessing import StandardScaler

In [90]:
ss = StandardScaler()

In [91]:
x = data.drop('fraud_reported',axis=1)

In [92]:
y = data['fraud_reported']

In [93]:
data.to_csv('finaldata.csv')

In [94]:
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_year,incident_year
policy_number,,,,,,,,,,,,,,,,,,,,,
521585,328,48,2,1,1000,1406.91,0,1,4.0,2,...,71610,6510,13020,52080,10,1,2004,1,2014,2015
342868,228,42,1,1,2000,1197.22,5000000,1,4.0,6,...,5070,780,780,3510,8,12,2007,1,2006,2015
687698,134,29,2,0,2000,1413.14,5000000,0,6.0,11,...,34650,7700,3850,23100,4,30,2007,0,2000,2015
227811,256,41,0,1,2000,1415.74,6000000,0,6.0,1,...,63400,6340,6340,50720,3,34,2014,1,1990,2015
367455,228,44,0,2,1000,1583.91,6000000,1,3.0,11,...,6500,1300,650,4550,0,31,2009,0,2014,2015

In [95]:
from sklearn.feature_selection import RFE

In [96]:
x.shape

(998, 35)

In [97]:
from sklearn.ensemble import RandomForestClassifier

In [98]:
rf = RandomForestClassifier()

In [99]:
selector = RFE(estimator=rf,n_features_to_select=15)

In [100]:
selector.fit(x,y)

RFE(estimator=RandomForestClassifier(), n_features_to_select=15)

In [101]:
a = x.columns[selector.support_]

In [102]:
a

Index(['months_as_customer', 'age', 'policy_annual_premium',
       'insured_occupation', 'insured_hobbies', 'incident_severity',
       'incident_hour_of_the_day', 'total_claim_amount', 'injury_claim',
       'property_claim', 'vehicle_claim', 'auto_make', 'auto_model',
       'auto_year', 'policy_bind_year'],
      dtype='object')

In [103]:
x = x[a]

In [104]:
x.shape

(998, 15)

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=67)

In [107]:
x_train.head()

,months_as_customer,age,policy_annual_premium,insured_occupation,insured_hobbies,incident_severity,incident_hour_of_the_day,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,policy_bind_year
policy_number,,,,,,,,,,,,,,,
521592,140,30,1354.20,0,3,0.0,4,60170,5470,10940,43760,9,29,2006,2014
620215,194,39,823.17,0,13,2.0,3,61500,6150,12300,43050,4,30,2012,2005
476923,172,35,1219.04,5,13,2.0,19,79750,14500,14500,50750,9,29,1999,2004
369226,267,43,1300.68,0,17,0.0,0,1920,480,0,1440,3,34,2011,2002
987905,436,58,1407.01,12,17,2.0,10,59900,11980,5990,41930,2,37,1997,2002

In [108]:
c = list(x_train.columns)

In [109]:
c.remove('auto_year')

In [110]:
c.remove('policy_bind_year')

In [111]:
x_train[c] = ss.fit_transform(x_train[c])

In [112]:
x_test[c] = ss.transform(x_test[c])

In [113]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [114]:
pred = rf.predict(x_test)

In [115]:
result = pd.DataFrame({'Actual':y_test,'Predicted':pred})

In [116]:
result

               Actual  Predicted
policy_number
607974              0          0
608513              1          0
398484              0          0
636843              0          0
212674              1          0
...               ...        ...
458829              0          0
722747              0          0
502634              0          0
219028              1          1
445694              0          0

[200 rows x 2 columns]

In [117]:
from sklearn.metrics import classification_report

In [118]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.86      0.89      0.87       160
           1       0.47      0.40      0.43        40

    accuracy                           0.79       200
   macro avg       0.66      0.64      0.65       200
weighted avg       0.78      0.79      0.78       200