In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('smoking_driking_dataset_Ver01.csv')

In [3]:
data.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [4]:
data.shape

(991346, 24)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB

In [6]:
data.isna().sum()

sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

In [7]:
data.drop_duplicates(inplace=True)

In [8]:
data.shape

(991320, 24)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [11]:
data['sex'] = le.fit_transform(data['sex'])

In [12]:
data.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,1,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,1,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,1,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,1,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,1,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [13]:
data['DRK_YN'] = le.fit_transform(data['DRK_YN'])

In [14]:
data.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,1,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,1
1,1,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,0
2,1,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,0
3,1,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,0
4,1,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,0

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
ss = StandardScaler()

In [17]:
X = data.drop('DRK_YN',axis=1)

In [18]:
y = data['DRK_YN']

In [19]:
x = ss.fit_transform(X)

In [20]:
x = pd.DataFrame(x,columns=X.columns)

In [21]:
x.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
0,0.939793,-0.889516,0.835883,0.936234,0.739792,0.031630,0.035669,-0.180332,-0.177295,-0.167252,...,-0.518430,0.361649,-0.392780,1.810933,-0.215254,0.290370,-0.212373,0.351396,0.056796,-0.742956
1,0.939793,-1.242092,1.913131,1.335783,0.655406,-0.133399,0.366369,-0.180332,-0.177295,0.520360,...,-0.112363,0.975439,-0.109008,0.990704,-0.215254,0.082269,-0.254938,0.389406,-0.201019,1.700527
2,0.939793,-0.536940,0.297260,0.936234,0.824178,0.361689,0.862418,-0.180332,-0.177295,-0.167252,...,-0.924496,-1.089125,-0.275357,0.990704,-0.215254,0.082269,0.894308,0.237367,0.612089,-0.742956
3,0.939793,0.168212,1.374507,1.335783,0.824178,0.856776,0.366369,-0.180332,-0.177295,1.551779,...,1.105835,-0.252140,-0.255787,2.126405,-0.215254,0.498472,0.128144,0.313386,-0.379506,-0.742956
4,0.939793,0.168212,0.297260,-0.262415,-0.104070,0.031630,0.366369,-0.180332,-0.177295,1.070450,...,0.235693,0.110554,-0.275357,-0.271187,-0.215254,-0.125832,-0.297503,-0.522833,-0.240683,-0.742956

# RFE

In [22]:
from sklearn.feature_selection import RFE

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf = RandomForestClassifier()

In [25]:
selector = RFE(estimator=rf,n_features_to_select=15)

In [26]:
selector = selector.fit(x, y)

In [27]:
print("Optimal number of features: %d" % selector.n_features_)

Optimal number of features: 15

In [28]:
print("Selected features: %s" % selector.support_)

Selected features: [ True  True  True False  True False False False False  True False  True
  True  True  True  True  True False False  True  True  True  True]

In [29]:
a = x.columns[selector.support_]

In [30]:
a

Index(['sex', 'age', 'height', 'waistline', 'SBP', 'BLDS', 'tot_chole',
       'HDL_chole', 'LDL_chole', 'triglyceride', 'hemoglobin', 'SGOT_AST',
       'SGOT_ALT', 'gamma_GTP', 'SMK_stat_type_cd'],
      dtype='object')

In [31]:
x = x[a]

In [32]:
x.shape

(991320, 15)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=666)

# RANDOM FOREST

In [35]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [36]:
pred = rf.predict(x_test)

In [37]:
from sklearn.metrics import classification_report

In [38]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.73      0.74      0.73     99124
           1       0.73      0.73      0.73     99140

    accuracy                           0.73    198264
   macro avg       0.73      0.73      0.73    198264
weighted avg       0.73      0.73      0.73    198264

# KNN

In [39]:
from sklearn.neighbors import KNeighborsClassifier

In [40]:
knn = KNeighborsClassifier()

In [41]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [42]:
pred = knn.predict(x_test)

In [43]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.69      0.68      0.69     99124
           1       0.69      0.70      0.69     99140

    accuracy                           0.69    198264
   macro avg       0.69      0.69      0.69    198264
weighted avg       0.69      0.69      0.69    198264